/* Skills Component Styles */
.skills-container {
  padding: 50px;
  color: #c9d1d9;
}

.skills-heading {
  text-align: center;
  font-size: 50px;
  color: #58a6ff;
  margin-bottom: 30px;
}

.skills-cards-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.skills-card {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  padding: 20px;
  width: auto; /* Fixed width for consistent layout */
  background-color: #161b22;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box; /* Ensure border is included in the card's total size */
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  will-change: transform; /* Prevents layout shifting by informing the browser to optimize */
}

.skills-card:hover {
  transform: translateY(-5px); /* Slightly lift the card up without resizing */
  background-color: #000;
  border: 2px solid #58a6ff; /* Add primary color border */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Add shadow effect on hover */
}

.card-title {
  color: #58a6ff;
  margin-bottom: 10px;
  font-weight: bold;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  color: #c9d1d9;
}

.skill-name {
  display: flex;
  align-items: center;
}

.skill-level {
  color: #8b949e;
}

.svg-icon {
  margin-right: 8px;
  vertical-align: middle;
  fill: #0d6efd;
}




/* Responsive Design */
@media (max-width: 768px) {
  .skills-heading {
    font-size: 40px;
  }

  .skills-card {
    /* width: 100% !important; */

  }
}

@media (max-width: 480px) {
  .skills-heading {
    font-size: 30px;
  }

  .skills-card {
    padding: 15px;
    width: auto

  }

  .card-title {
    font-size: 18px;
  }

  .skill-level {
    font-size: 14px;
  }
}
